*{
    padding: 0;
    margin: 0;
}*{
    
padding: 0%;
margin: 0%;
}


body{
    background-color: #1a1a1a;
}

.banner{
height: 450px;
width: 850px;
background-image: url("./assents/Banner.png"); /*ele adiciona uma imagem como fundo*/
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 25px;
 }

ul{
    display: flex; /*ativa a propriedade de alinhamento*/
    flex-direction: row; /*coloca os elementos na horizontal*/
}

li{
list-style: none; /*remove os pontos das lista*/
}

nav{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

 #logo{
height: 100px;
width: 100px;
 }

 .bi{
font-size: 40px;
color: #4c544c;

 }

 .texto-banner{
    color: #ffffff;
   font-size: 25px; 
 }

 .btn{
    height: 45px;
    width: 115px;
    border-radius: 55px;/*Deixa a  borda redonda*/
    border: none; /*Serve para remover a borda*/
    color: #ffffff;
    font-size: 19px;
    background-color: #333333;
    margin: 20px;
 }
 .banner-estrutura{
width: 220px;
padding: 30px;
}
.section-banner{
    display:flex;
    justify-content: center;
    
}
.titulo{
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
}
.estrutura-titulo{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.produtos{
    height: 380;
    width: 190px;
}
.valor{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}
.card-texto{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card{
 height: 430px;
 width: 250px;
}
.cores{
    height: 20px;
    width: 20px;
    padding: 5px;
    border: none;
}
.vermelho{
    background-color: rgb(242, 240, 240);
    border-radius: 55px;
}
.amarelo{
background-color: darkgoldenrod;
border-radius: 55px;
}
.azul{
background-color: blue;
border-radius: 55px;
}
.caixa-cores{
    display: flex;
    flex-direction: row;
    padding: 5px
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.xbox{
    height: 450px;
width: 850px;
background-image: url("./assents/xbox.png"); /*ele adiciona uma imagem como fundo*/
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
}